* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}


body {
    width: 15%;
    margin: 0 auto;
    text-align: center;
    background-color: #3e5c76;
    
}

label {
    color: white;
}

h2 {
    margin-bottom: 20px;
    margin-top: 20px;
    color: white;
}

.form-control {
    text-align: center;
}