* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
}

body {
    background-color: #3e5c76;
}

.job-posts {
    display: flex;
    justify-content: center;
    margin-right: 20px;
}

.navbar {
    margin-bottom: 30px;
}

.nav-list {
    margin: 0 auto;
    font-weight: bold;
}

.card {
    margin-left: 0;
    margin-bottom: 10px;
}

.jobs-view-conainer {
    position: fixed;

    right: 50px;
    /* scrolling */
    height: 100%;
    overflow-y: auto;
}

.jobs-view-conainer .card {
    padding: 30px;
}

.navbar {
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    padding: 0;
}

.job-posts {
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
    width: 76%;
}

.search-jobs-form {
    position: fixed;
    left: 100px;
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 400px;
}

.search-jobs-form {
    margin-bottom: 10px;
    align-items: center;
}

.search-jobs-form input {
    margin-bottom: 15px;
    text-align: center;
}

.fav-img:hover {
    cursor: pointer;
}

h4 {
    color: white;
}

.company-view-container {
    margin-left: 30px;
}

.card {
    padding: 20px;
}

.post-margin {
    margin-left: 500px;
}

.post-margin section {
    margin-right: 100px;
}